html {
    font-size: 16px;
  }
  .social-bar{
      position: fixed;
      right: 0;
      top: 35%;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 100; 
  }
  .icon{
      color: white;
      text-decoration: none;
      padding: .7rem;
      display: flex;
      transition: all  .5s;
  }

  .icon-facebook2{
       background: #1b6ca8;
  }
  .icon-instagram{
      background: #fa26a0;
  }
  .icon-whatsapp{
      background: #79d70f;
  }
  .icon-mail4{
      background: #035aa6;
  }
  .icon:first-child{
      border-radius: 1rem 0 0 0;
  }
  .icon:last-child{
    border-radius: 0 0 0 1rem;
  }
  .icon:hover {
      padding-right: 3rem;
      border-radius: 1rem 0 0 1rem;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  }















